*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

.logo{
    width: 75px;
    margin: 1em auto;
}

.logo img {
    border-radius: 50%;
}

header{
    text-align: center;
    background-color: black;
    padding: 1em;

}

header nav a{
    color: white;
    text-decoration: none;    

}

#banner-box {
    position: relative;
}

#banner-box h1{
    top: 10%;
    font-size: 4em;
}

#banner-box h1{
    position: absolute;
    top: 10%;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 4em;
}

#banner-box p{
    position: absolute;
    top: 50%;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 2em;
    padding: 0 2em;
}

#product-gallery{
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    gap: 1em;
    justify-content: center;

}

footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 2em 0;
    gap: 1em;
}

#footer-logos{
    display: flex;
    justify-content: center;
    
}